.block_olympiads-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.block_olympiads-olympiad-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block_olympiads-olympiad-icon {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.block_olympiads-olympiad-title {
    font-size: 16px;
    margin: 0;
    color: #333;
    word-wrap: break-word;
    max-width: 100%;
}