<div class="grid">
    {{#olympiads}}
        <a href="{{details_url}}" class="olympiad-link">
            <div class="olympiad-card">
                {{#iconurl}}
                    <img src="{{iconurl}}" alt="{{name}}" class="olympiad-icon" />
                {{/iconurl}}
                {{^iconurl}}
                    <img src="{{defaulticon}}" alt="{{name}}" class="olympiad-icon" />
                {{/iconurl}}
                <h3 class="olympiad-title">{{name}}</h3>
            </div>
        </a>
    {{/olympiads}}
    {{^olympiads}}
        <p>{{#str}}no_olympiads_available, block_olympiads{{/str}}</p>
    {{/olympiads}}
</div>